<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bvs.CollegeApp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/patcol_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name="com.bvs.CollegeApp.activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">


            <intent-filter android:label="PCAS">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <!-- Accepts URIs that begin with "http://www.patriciancollege.org/pcas” -->
                <data
                    android:host="www.patriciancollege.org"
                    android:pathPrefix="/pcas"
                    android:scheme="http"/>
                <!-- Accepts URIs that begin with "patriciancollege://pcas” -->
                <data
                    android:host="pcas"
                    android:scheme="patriciancollege"/>
            </intent-filter>


        </activity>

        <activity
            android:name="com.bvs.CollegeApp.activity.RegisterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.bvs.CollegeApp.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.bvs.CollegeApp.ResetPasswordActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.bvs.CollegeApp.gpa.GpaFragment"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.bvs.CollegeApp.ListViewActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.bvs.CollegeApp.CalendarActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.bvs.CollegeApp.FeedbackActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.bvs.CollegeApp.WebsiteFragment"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.bvs.CollegeApp.ResultsFragment"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.bvs.CollegeApp.RetrieveData"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.bvs.CollegeApp.SubjectsFragment"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <!--Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent"/>

        <activity
            android:name="com.bvs.CollegeApp.QpapersFragment"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName="com.bvs.CollegeApp.MainActivity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bvs.CollegeApp.MainActivity"/>

        </activity>


        <activity
            android:name="com.bvs.CollegeApp.subjects.bca1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bca2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bca3"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.ba1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.ba2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.ba3"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bba1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bba2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bba3"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bcom1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bcom2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bcom3"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bcomcs1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bcomcs2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bcomcs3"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bsc1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bsc2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bsc3"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bscmat1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bscmat2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bscmat3"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bscpsy1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bscpsy2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bscpsy3"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bsw1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bsw2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.bsw3"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.ma1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.ma2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.mcom1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.mcom2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.msw1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.msw2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.viscom1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.viscom2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.subjects.viscom3"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>


        <activity
            android:name="com.bvs.CollegeApp.qpapers.bca1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bca2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bca3"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.ba1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.ba2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.ba3"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bba1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bba2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bba3"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bcom1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bcom2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bcom3"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bcomcs1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bcomcs2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bcomcs3"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bsc1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bsc2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bsc3"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bscmat1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bscmat2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bscmat3"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bscpsy1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bscpsy2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bscpsy3"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bsw1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bsw2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.bsw3"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.viscom1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.viscom2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.viscom3"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.ma1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.ma2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.mcom1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.mcom2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.msw1"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.bvs.CollegeApp.qpapers.msw2"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>


    </application>

</manifest>
